#banner {
    background-color: gray;
    margin: auto;
    padding: 100px;
    }
    .searchbar {
        border: none;
        margin: auto;
        width:100%
    }
    
    .searchbar:hover, .searchbar:active, .searchbar:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }