.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding:125px;
}

#banner {
    color: rgb(255, 255, 197);
    font-family: 'Encode Sans Condensed', sans-serif;
    background-size: cover;
    margin: auto;
    padding: 50px;
    text-align: center;
    font-size: 100px;
    }

#flavor {
    color: rgb(255, 255, 197);
    font-family: 'Encode Sans Condensed', sans-serif;
    background-size: cover;
    margin: auto;
    padding: 50px;
    text-align: center;
    font-size: 40px;
    }    

body {
        background-color: skyblue;
    }
    
.searchbar {
        border: none;
        margin: auto;
        width:100%
    }

#mostSearches {
    list-style-type: none;
    margin:0;
    }

#mostSearches li {
        padding:2%;
    }

#mostSearches .btn {
        min-width:60%;
    }

a{
    color: black;
    text-decoration: none;
    }
    
.searchbar:hover, .searchbar:active, .searchbar:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

a:active, a:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

a:hover {
    color:#1D9AF2;   
    }

#sidebar {
        margin:10px;
        font-size: 20px;
        left: 7%;
    } 

.submitbutton {
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 8px;
        width: 80%;
        max-width: 100px;
        border-radius: 8px;
        background: tomato;
        color: #fff;
        text-align: center;
        text-decoration: none;
        letter-spacing: 1px;
        transition: all 0.3s ease-out;
    }

.column {

        width: 33.33%;
        padding: 75px 100px 75px 100px;
        border: solid 1px white;
        background-color: #007bff;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        color: white;
        margin: 20px;
    }

.searchIcon{
        padding-top: 5px;
        padding-right: 5px;
    }

.searchResults, .flexbox{
        margin-left: auto;
        margin-right: auto;
    }

.btn-warning {
    background-color:rgb(252, 128, 26)
}

